[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
private_dao = "DnQTB3T6xWenyi7LYRsDADfqrKwGJntAaxStaePVkzhs"

[programs.localnet]
private_dao = "C5Z9tmoCMfdFBTLr2nKT2XMdqJHf1MydDdk7Ni5BASF6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[hooks]

